{% extends "BisonLabCommonBundle::layout.html.twig" %}
{% block title %}Gaskata{% endblock title %}
{% block lsidemenu %}
    <li> <a href="{{ path('authuser') }}">AuthUsers</a>
    <li> <a href="{{ path('fos_user_profile_show') }}">Profile</a>
    <li> <a href="{{ path('fos_user_change_password') }}">Change password</a>
    {% if is_granted('ROLE_ADMIN') %}
        <li> <a href="{{ path('user') }}">User admin</a>
    {% endif %}
{% endblock lsidemenu %}
